.elements__del {
  width: 18px;
  height: 19px;
  background-image: url(../../../images/delete-item.svg);
  background-color: transparent;
  background-size: cover;
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.elements__del:hover {
  opacity: 0.6;
}