.popup__form {
  background-color: #fff;
  color: #000;
  max-width: 358px;
  width: 100%;
  padding: 34px 36px 37px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}