.profile__proff {
  margin: 16px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .profile__proff {
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .profile__proff {
    margin: 14px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}